{% extends "Base/header-dark.html" %}


{% block Hero %}

<!-- Hero Start -->
<section class="bg-half-170 d-table w-100" style="background: url('/static/images/hero/pages.jpg') center;">
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <div class="title-heading text-center">
                    <h5 class="heading fw-semibold mb-0 sub-heading text-white title-dark">Our Team Members</h5>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="position-middle-bottom">
            <nav aria-label="breadcrumb" class="d-block">
                <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
                    <li class="breadcrumb-item"><a href="{% url 'App:index' %}">Enterly  </a></li>
                    <li class="breadcrumb-item active" aria-current="page">Team</li>
                </ul>
            </nav>
        </div>
    </div><!--end container-->
</section><!--end section-->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- Hero End -->
 
<!-- Start -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card team team-primary bg-transparent text-center mb-5">
                    <div class="card-img team-image d-inline-block mx-auto rounded overflow-hidden">
                        <img src="/static/images/team/1.jpg" class="img-fluid" alt="">

                        <ul class="list-unstyled team-social mb-0">
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="facebook" class="icons fea-social"></i></a></li>
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="instagram" class="icons fea-social"></i></a></li>
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="twitter" class="icons fea-social"></i></a></li>
                        </ul><!--end icon-->
                    </div>

                    <div class="content bg-white mx-4 p-4 z-1 rounded shadow">
                        <a href="" class="text-dark h5 mb-0 title">Jack John</a>
                        <h6 class="text-muted mb-0 fw-normal">Founder & CEO</h6>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-3 col-md-6 col-12 mt-4 mt-md-0 pt-2 pt-md-0">
                <div class="card team team-primary bg-transparent text-center mb-5">
                    <div class="card-img team-image d-inline-block mx-auto rounded overflow-hidden">
                        <img src="/static/images/team/2.jpg" class="img-fluid" alt="">

                        <ul class="list-unstyled team-social mb-0">
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="facebook" class="icons fea-social"></i></a></li>
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="instagram" class="icons fea-social"></i></a></li>
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="twitter" class="icons fea-social"></i></a></li>
                        </ul><!--end icon-->
                    </div>

                    <div class="content bg-white mx-4 p-4 z-1 rounded shadow">
                        <a href="" class="text-dark h5 mb-0 title">Jeremiah Green</a>
                        <h6 class="text-muted mb-0 fw-normal">CTO</h6>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-3 col-md-6 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                <div class="card team team-primary bg-transparent text-center mb-5">
                    <div class="card-img team-image d-inline-block mx-auto rounded overflow-hidden">
                        <img src="/static/images/team/3.jpg" class="img-fluid" alt="">

                        <ul class="list-unstyled team-social mb-0">
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="facebook" class="icons fea-social"></i></a></li>
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="instagram" class="icons fea-social"></i></a></li>
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="twitter" class="icons fea-social"></i></a></li>
                        </ul><!--end icon-->
                    </div>

                    <div class="content bg-white mx-4 p-4 z-1 rounded shadow">
                        <a href="" class="text-dark h5 mb-0 title">Christina Vasquez</a>
                        <h6 class="text-muted mb-0 fw-normal">Developer</h6>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-3 col-md-6 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                <div class="card team team-primary bg-transparent text-center mb-5">
                    <div class="card-img team-image d-inline-block mx-auto rounded overflow-hidden">
                        <img src="/static/images/team/4.jpg" class="img-fluid" alt="">

                        <ul class="list-unstyled team-social mb-0">
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="facebook" class="icons fea-social"></i></a></li>
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="instagram" class="icons fea-social"></i></a></li>
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="twitter" class="icons fea-social"></i></a></li>
                        </ul><!--end icon-->
                    </div>

                    <div class="content bg-white mx-4 p-4 z-1 rounded shadow">
                        <a href="" class="text-dark h5 mb-0 title">Lillian Boldt</a>
                        <h6 class="text-muted mb-0 fw-normal">Product Manager</h6>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card team team-primary bg-transparent text-center mb-5">
                    <div class="card-img team-image d-inline-block mx-auto rounded overflow-hidden">
                        <img src="/static/images/team/5.jpg" class="img-fluid" alt="">

                        <ul class="list-unstyled team-social mb-0">
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="facebook" class="icons fea-social"></i></a></li>
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="instagram" class="icons fea-social"></i></a></li>
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="twitter" class="icons fea-social"></i></a></li>
                        </ul><!--end icon-->
                    </div>

                    <div class="content bg-white mx-4 p-4 z-1 rounded shadow">
                        <a href="" class="text-dark h5 mb-0 title">Krista John</a>
                        <h6 class="text-muted mb-0 fw-normal">Creative Director</h6>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card team team-primary bg-transparent text-center mb-5">
                    <div class="card-img team-image d-inline-block mx-auto rounded overflow-hidden">
                        <img src="/static/images/team/6.jpg" class="img-fluid" alt="">

                        <ul class="list-unstyled team-social mb-0">
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="facebook" class="icons fea-social"></i></a></li>
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="instagram" class="icons fea-social"></i></a></li>
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="twitter" class="icons fea-social"></i></a></li>
                        </ul><!--end icon-->
                    </div>

                    <div class="content bg-white mx-4 p-4 z-1 rounded shadow">
                        <a href="" class="text-dark h5 mb-0 title">Ricky Peters</a>
                        <h6 class="text-muted mb-0 fw-normal">Market Researcher</h6>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card team team-primary bg-transparent text-center mb-5">
                    <div class="card-img team-image d-inline-block mx-auto rounded overflow-hidden">
                        <img src="/static/images/team/7.jpg" class="img-fluid" alt="">

                        <ul class="list-unstyled team-social mb-0">
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="facebook" class="icons fea-social"></i></a></li>
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="instagram" class="icons fea-social"></i></a></li>
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="twitter" class="icons fea-social"></i></a></li>
                        </ul><!--end icon-->
                    </div>

                    <div class="content bg-white mx-4 p-4 z-1 rounded shadow">
                        <a href="" class="text-dark h5 mb-0 title">Roger Jackson</a>
                        <h6 class="text-muted mb-0 fw-normal">Marketing Expert</h6>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card team team-primary bg-transparent text-center mb-5">
                    <div class="card-img team-image d-inline-block mx-auto rounded overflow-hidden">
                        <img src="/static/images/team/8.jpg" class="img-fluid" alt="">

                        <ul class="list-unstyled team-social mb-0">
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="facebook" class="icons fea-social"></i></a></li>
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="instagram" class="icons fea-social"></i></a></li>
                            <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-pills btn-icon"><i data-feather="twitter" class="icons fea-social"></i></a></li>
                        </ul><!--end icon-->
                    </div>

                    <div class="content bg-white mx-4 p-4 z-1 rounded shadow">
                        <a href="" class="text-dark h5 mb-0 title">Camille Smith</a>
                        <h6 class="text-muted mb-0 fw-normal">Director of HR</h6>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section>
<!-- End -->

{% endblock Hero %}
