{% extends "Base/header-dark.html" %}


{% block Hero %}

        <!-- Hero Start -->
        <section class="bg-half-170 d-table w-100" style="background: url('/static/images/hero/pages.jpg') center;">
            <div class="bg-overlay bg-gradient-overlay"></div>
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="col-12">
                        <div class="title-heading text-center">
                            <h5 class="heading fw-semibold mb-0 sub-heading text-white title-dark">Testimonial</h5>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="position-middle-bottom">
                    <nav aria-label="breadcrumb" class="d-block">
                        <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
                            <li class="breadcrumb-item"><a href="{% url 'App:index' %}">Enterly  </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Testimonial</li>
                        </ul>
                    </nav>
                </div>
            </div><!--end container-->
        </section><!--end section-->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- Hero End -->
         
        <!-- Start -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="position-relative overflow-hidden z-1 bg-white rounded shadow p-4">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="mb-0">Creativity</h6>
        
                                        <ul class="list-unstyled mb-0 text-warning">
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        </ul>
                                    </div>
        
                                    <p class="text-muted fst-italic mt-2">" According to most sources, Lorum Ipsum can be traced back to a text composed by Cicero Launch your campaign and benefit from our expertise. "</p>
        
                                    <div class="d-flex align-items-center">
                                        <img src="/static/images/team/1.jpg" class="avatar avatar-small rounded-pill shadow" alt="">
                                        <div class="ms-2">
                                            <h6 class="text-dark small mb-0">Calvin Carlo</h6>
                                            <small class="text-muted d-block">Manager</small>
                                        </div>
                                    </div>

                                    <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                                </div>
                            </div><!--end col-->
        
                            <div class="col-12 mt-4">
                                <div class="position-relative overflow-hidden z-1 bg-white rounded shadow p-4">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="mb-0">Modern</h6>
        
                                        <ul class="list-unstyled mb-0 text-warning">
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star-half-full"></i></li>
                                        </ul>
                                    </div>
        
                                    <p class="text-muted fst-italic mt-2">" I didn't know a thing about icon design until I read this book. Now I can create any icon I need in no time. Great resource! "</p>
        
                                    <div class="d-flex align-items-center">
                                        <img src="/static/images/team/2.jpg" class="avatar avatar-small rounded-pill shadow" alt="">
                                        <div class="ms-2">
                                            <h6 class="text-dark small mb-0">Carl Oliver</h6>
                                            <small class="text-muted d-block">Manager</small>
                                        </div>
                                    </div>

                                    <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                                </div>
                            </div><!--end col-->
        
                            <div class="col-12 mt-4">
                                <div class="position-relative overflow-hidden z-1 bg-white rounded shadow p-4">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="mb-0">Social Marketing</h6>
        
                                        <ul class="list-unstyled mb-0 text-warning">
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star-half-full"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star-outline"></i></li>
                                        </ul>
                                    </div>
        
                                    <p class="text-muted fst-italic mt-2">" The best part about Enterly   is every time I pay my employees, my bank balance doesn't go down like it used to. Looking forward to spending this extra cash when I figure out why my card is being declined. "</p>
        
                                    <div class="d-flex align-items-center">
                                        <img src="/static/images/team/3.jpg" class="avatar avatar-small rounded-pill shadow" alt="">
                                        <div class="ms-2">
                                            <h6 class="text-dark small mb-0">Barbara McIntosh</h6>
                                            <small class="text-muted d-block">Manager</small>
                                        </div>
                                    </div>

                                    <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                                </div>
                            </div><!--end col-->
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mt-4 mt-md-0">
                        <div class="row">
                            <div class="col-12">
                                <div class="position-relative overflow-hidden z-1 bg-white rounded shadow p-4">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="mb-0">Digital Marketing</h6>
        
                                        <ul class="list-unstyled mb-0 text-warning">
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star-half-full"></i></li>
                                        </ul>
                                    </div>
        
                                    <p class="text-muted fst-italic mt-2">" I used to have to remit tax to the EU and with Enterly   I somehow don't have to do that anymore. Nervous to travel there now though. "</p>
        
                                    <div class="d-flex align-items-center">
                                        <img src="/static/images/team/4.jpg" class="avatar avatar-small rounded-pill shadow" alt="">
                                        <div class="ms-2">
                                            <h6 class="text-dark small mb-0">Janisha Doll</h6>
                                            <small class="text-muted d-block">Manager</small>
                                        </div>
                                    </div>

                                    <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                                </div>
                            </div><!--end col-->
        
                            <div class="col-12 mt-4">
                                <div class="position-relative overflow-hidden z-1 bg-white rounded shadow p-4">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="mb-0">SEO</h6>
        
                                        <ul class="list-unstyled mb-0 text-warning">
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        </ul>
                                    </div>
        
                                    <p class="text-muted fst-italic mt-2">" There are so many things I had to do with my old software that I just don't do at all with Enterly  . Suspicious but I can't say I don't love it. "</p>
        
                                    <div class="d-flex align-items-center">
                                        <img src="/static/images/team/5.jpg" class="avatar avatar-small rounded-pill shadow" alt="">
                                        <div class="ms-2">
                                            <h6 class="text-dark small mb-0">Esther Howard</h6>
                                            <small class="text-muted d-block">Manager</small>
                                        </div>
                                    </div>

                                    <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                                </div>
                            </div><!--end col-->
        
                            <div class="col-12 mt-4">
                                <div class="position-relative overflow-hidden z-1 bg-white rounded shadow p-4">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="mb-0">Classic</h6>
        
                                        <ul class="list-unstyled mb-0 text-warning">
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        </ul>
                                    </div>
        
                                    <p class="text-muted fst-italic mt-2">" I'm trying to get a hold of someone in support, I'm in a lot of trouble right now and they are saying it has something to do with my books. Please get back to me right away. "</p>
        
                                    <div class="d-flex align-items-center">
                                        <img src="/static/images/team/6.jpg" class="avatar avatar-small rounded-pill shadow" alt="">
                                        <div class="ms-2">
                                            <h6 class="text-dark small mb-0">Joshua William</h6>
                                            <small class="text-muted d-block">Manager</small>
                                        </div>
                                    </div>

                                    <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                                </div>
                            </div><!--end col-->
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mt-4 mt-lg-0">
                        <div class="row">
                            <div class="col-md-6 col-lg-12">
                                <div class="position-relative overflow-hidden z-1 bg-white rounded shadow p-4">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="mb-0">Features</h6>
        
                                        <ul class="list-unstyled mb-0 text-warning">
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                        </ul>
                                    </div>
        
                                    <p class="text-muted fst-italic mt-2">" This is the fourth email I've sent to your support team. I am literally being held in jail for tax fraud. Please answer your damn emails, this is important. "</p>
        
                                    <div class="d-flex align-items-center">
                                        <img src="/static/images/team/7.jpg" class="avatar avatar-small rounded-pill shadow" alt="">
                                        <div class="ms-2">
                                            <h6 class="text-dark small mb-0">Thomas Israel</h6>
                                            <small class="text-muted d-block">Manager</small>
                                        </div>
                                    </div>

                                    <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                                </div>
                            </div><!--end col-->
        
                            <div class="col-md-6 col-lg-12 mt-4">
                                <div class="position-relative overflow-hidden z-1 bg-white rounded shadow p-4">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="mb-0">Branding</h6>
        
                                        <ul class="list-unstyled mb-0 text-warning">
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star-half-full"></i></li>
                                        </ul>
                                    </div>
        
                                    <p class="text-muted fst-italic mt-2">" I used to have to remit tax to the EU and with Enterly   I somehow don't have to do that anymore. Nervous to travel there now though. "</p>
        
                                    <div class="d-flex align-items-center">
                                        <img src="/static/images/team/8.jpg" class="avatar avatar-small rounded-pill shadow" alt="">
                                        <div class="ms-2">
                                            <h6 class="text-dark small mb-0">Jill Webb</h6>
                                            <small class="text-muted d-block">Manager</small>
                                        </div>
                                    </div>

                                    <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                                </div>
                            </div><!--end col-->
        
                            <div class="col-md-6 col-lg-12 mt-4">
                                <div class="position-relative overflow-hidden z-1 bg-white rounded shadow p-4">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="mb-0">Product Design</h6>
        
                                        <ul class="list-unstyled mb-0 text-warning">
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item"><i class="mdi mdi-star-half-full"></i></li>
                                        </ul>
                                    </div>
        
                                    <p class="text-muted fst-italic mt-2">" The team is exceptional. Their passion for what they do is evident in the results they deliver. We're grateful to have them as a trusted partner in our journey. "</p>
        
                                    <div class="d-flex align-items-center">
                                        <img src="/static/images/team/4.jpg" class="avatar avatar-small rounded-pill shadow" alt="">
                                        <div class="ms-2">
                                            <h6 class="text-dark small mb-0">Jennifer White</h6>
                                            <small class="text-muted d-block">Manager</small>
                                        </div>
                                    </div>

                                    <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                                </div>
                            </div><!--end col-->
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col mt-4">
                        <div class="text-center">
                            <a href="" class="text-primary">See More <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End -->

{% endblock Hero %}
