{% extends "Base/header-white.html" %}


{% block Hero %}

        <!-- Start -->
        <section class="section">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-3 col-md-4 col-sm-2 col-12">
                        <div class="wallet position-relative overflow-hidden rounded shadow">
                            <div class="bg-gradient-primary p-4"></div>
                            <div class="position-relative">
                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <img src="/static/images/wallet/MetaMask_Fox.svg" class="avatar avatar-small rounded-pill shadow-sm p-2 bg-light" alt="">
                                </div>
                                
                                <div class="content text-center p-4">
                                    <h5 class="mt-4 mb-0">MetaMask</h5>
                                    <p class="text-muted mt-3 mb-0">Learn about how to get the wallet and much more clicking <a href="javascript:void(0)" class="text-primary">here <i class="mdi mdi-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-2 col-12">
                        <div class="wallet position-relative overflow-hidden rounded shadow">
                            <div class="bg-gradient-primary p-4"></div>
                            <div class="position-relative">
                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <img src="/static/images/wallet/aave.svg" class="avatar avatar-small rounded-pill shadow-sm p-2 bg-light" alt="">
                                </div>
                                
                                <div class="content text-center p-4">
                                    <h5 class="mt-4 mb-0">Aave</h5>
                                    <p class="text-muted mt-3 mb-0">Learn about how to get the wallet and much more clicking <a href="javascript:void(0)" class="text-primary">here <i class="mdi mdi-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-2 col-12">
                        <div class="wallet position-relative overflow-hidden rounded shadow">
                            <div class="bg-gradient-primary p-4"></div>
                            <div class="position-relative">
                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <img src="/static/images/wallet/Airswap.svg" class="avatar avatar-small rounded-pill shadow-sm p-2 bg-light" alt="">
                                </div>
                                
                                <div class="content text-center p-4">
                                    <h5 class="mt-4 mb-0">Airswap</h5>
                                    <p class="text-muted mt-3 mb-0">Learn about how to get the wallet and much more clicking <a href="javascript:void(0)" class="text-primary">here <i class="mdi mdi-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-2 col-12">
                        <div class="wallet position-relative overflow-hidden rounded shadow">
                            <div class="bg-gradient-primary p-4"></div>
                            <div class="position-relative">
                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <img src="/static/images/wallet/Compound.svg" class="avatar avatar-small rounded-pill shadow-sm p-2 bg-light" alt="">
                                </div>
                                
                                <div class="content text-center p-4">
                                    <h5 class="mt-4 mb-0">Compound</h5>
                                    <p class="text-muted mt-3 mb-0">Learn about how to get the wallet and much more clicking <a href="javascript:void(0)" class="text-primary">here <i class="mdi mdi-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-2 col-12">
                        <div class="wallet position-relative overflow-hidden rounded shadow">
                            <div class="bg-gradient-primary p-4"></div>
                            <div class="position-relative">
                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <img src="/static/images/wallet/ddexsvg.svg" class="avatar avatar-small rounded-pill shadow-sm p-2 bg-light" alt="">
                                </div>
                                
                                <div class="content text-center p-4">
                                    <h5 class="mt-4 mb-0">DDEX</h5>
                                    <p class="text-muted mt-3 mb-0">Learn about how to get the wallet and much more clicking <a href="javascript:void(0)" class="text-primary">here <i class="mdi mdi-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-2 col-12">
                        <div class="wallet position-relative overflow-hidden rounded shadow">
                            <div class="bg-gradient-primary p-4"></div>
                            <div class="position-relative">
                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <img src="/static/images/wallet/defi-saver.svg" class="avatar avatar-small rounded-pill shadow-sm p-2 bg-light" alt="">
                                </div>
                                
                                <div class="content text-center p-4">
                                    <h5 class="mt-4 mb-0">Defi Saver</h5>
                                    <p class="text-muted mt-3 mb-0">Learn about how to get the wallet and much more clicking <a href="javascript:void(0)" class="text-primary">here <i class="mdi mdi-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-2 col-12">
                        <div class="wallet position-relative overflow-hidden rounded shadow">
                            <div class="bg-gradient-primary p-4"></div>
                            <div class="position-relative">
                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <img src="/static/images/wallet/dYdX.svg" class="avatar avatar-small rounded-pill shadow-sm p-2 bg-light" alt="">
                                </div>
                                
                                <div class="content text-center p-4">
                                    <h5 class="mt-4 mb-0">DYDX</h5>
                                    <p class="text-muted mt-3 mb-0">Learn about how to get the wallet and much more clicking <a href="javascript:void(0)" class="text-primary">here <i class="mdi mdi-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-2 col-12">
                        <div class="wallet position-relative overflow-hidden rounded shadow">
                            <div class="bg-gradient-primary p-4"></div>
                            <div class="position-relative">
                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <img src="/static/images/wallet/idex.svg" class="avatar avatar-small rounded-pill shadow-sm p-2 bg-light" alt="">
                                </div>
                                
                                <div class="content text-center p-4">
                                    <h5 class="mt-4 mb-0">IDEX</h5>
                                    <p class="text-muted mt-3 mb-0">Learn about how to get the wallet and much more clicking <a href="javascript:void(0)" class="text-primary">here <i class="mdi mdi-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-2 col-12">
                        <div class="wallet position-relative overflow-hidden rounded shadow">
                            <div class="bg-gradient-primary p-4"></div>
                            <div class="position-relative">
                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <img src="/static/images/wallet/kyber.svg" class="avatar avatar-small rounded-pill shadow-sm p-2 bg-light" alt="">
                                </div>
                                
                                <div class="content text-center p-4">
                                    <h5 class="mt-4 mb-0">Kyber</h5>
                                    <p class="text-muted mt-3 mb-0">Learn about how to get the wallet and much more clicking <a href="javascript:void(0)" class="text-primary">here <i class="mdi mdi-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-2 col-12">
                        <div class="wallet position-relative overflow-hidden rounded shadow">
                            <div class="bg-gradient-primary p-4"></div>
                            <div class="position-relative">
                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <img src="/static/images/wallet/maker.svg" class="avatar avatar-small rounded-pill shadow-sm p-2 bg-light" alt="">
                                </div>
                                
                                <div class="content text-center p-4">
                                    <h5 class="mt-4 mb-0">Maker</h5>
                                    <p class="text-muted mt-3 mb-0">Learn about how to get the wallet and much more clicking <a href="javascript:void(0)" class="text-primary">here <i class="mdi mdi-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-2 col-12">
                        <div class="wallet position-relative overflow-hidden rounded shadow">
                            <div class="bg-gradient-primary p-4"></div>
                            <div class="position-relative">
                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <img src="/static/images/wallet/nuo.svg" class="avatar avatar-small rounded-pill shadow-sm p-2 bg-light" alt="">
                                </div>
                                
                                <div class="content text-center p-4">
                                    <h5 class="mt-4 mb-0">NUO</h5>
                                    <p class="text-muted mt-3 mb-0">Learn about how to get the wallet and much more clicking <a href="javascript:void(0)" class="text-primary">here <i class="mdi mdi-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-2 col-12">
                        <div class="wallet position-relative overflow-hidden rounded shadow">
                            <div class="bg-gradient-primary p-4"></div>
                            <div class="position-relative">
                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <img src="/static/images/wallet/PoolTogether.svg" class="avatar avatar-small rounded-pill shadow-sm p-2 bg-light" alt="">
                                </div>
                                
                                <div class="content text-center p-4">
                                    <h5 class="mt-4 mb-0">PoolTogether</h5>
                                    <p class="text-muted mt-3 mb-0">Learn about how to get the wallet and much more clicking <a href="javascript:void(0)" class="text-primary">here <i class="mdi mdi-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-2 col-12">
                        <div class="wallet position-relative overflow-hidden rounded shadow">
                            <div class="bg-gradient-primary p-4"></div>
                            <div class="position-relative">
                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <img src="/static/images/wallet/sablier.svg" class="avatar avatar-small rounded-pill shadow-sm p-2 bg-light" alt="">
                                </div>
                                
                                <div class="content text-center p-4">
                                    <h5 class="mt-4 mb-0">Sablier</h5>
                                    <p class="text-muted mt-3 mb-0">Learn about how to get the wallet and much more clicking <a href="javascript:void(0)" class="text-primary">here <i class="mdi mdi-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-2 col-12">
                        <div class="wallet position-relative overflow-hidden rounded shadow">
                            <div class="bg-gradient-primary p-4"></div>
                            <div class="position-relative">
                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <img src="/static/images/wallet/set.svg" class="avatar avatar-small rounded-pill shadow-sm p-2 bg-light" alt="">
                                </div>
                                
                                <div class="content text-center p-4">
                                    <h5 class="mt-4 mb-0">Set</h5>
                                    <p class="text-muted mt-3 mb-0">Learn about how to get the wallet and much more clicking <a href="javascript:void(0)" class="text-primary">here <i class="mdi mdi-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-2 col-12">
                        <div class="wallet position-relative overflow-hidden rounded shadow">
                            <div class="bg-gradient-primary p-4"></div>
                            <div class="position-relative">
                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <img src="/static/images/wallet/uniswap.svg" class="avatar avatar-small rounded-pill shadow-sm p-2 bg-light" alt="">
                                </div>
                                
                                <div class="content text-center p-4">
                                    <h5 class="mt-4 mb-0">Uniswap</h5>
                                    <p class="text-muted mt-3 mb-0">Learn about how to get the wallet and much more clicking <a href="javascript:void(0)" class="text-primary">here <i class="mdi mdi-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-2 col-12">
                        <div class="wallet position-relative overflow-hidden rounded shadow">
                            <div class="bg-gradient-primary p-4"></div>
                            <div class="position-relative">
                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <img src="/static/images/wallet/zerion.svg" class="avatar avatar-small rounded-pill shadow-sm p-2 bg-light" alt="">
                                </div>
                                
                                <div class="content text-center p-4">
                                    <h5 class="mt-4 mb-0">Zerion</h5>
                                    <p class="text-muted mt-3 mb-0">Learn about how to get the wallet and much more clicking <a href="javascript:void(0)" class="text-primary">here <i class="mdi mdi-arrow-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->


{% endblock Hero %}
